.body {
  margin: 0px auto;
  max-width: 1380px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.logo_nav {
  width: 83px;
  height: 73px;
  align-self: flex-start;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Datos personales */
.datos_personales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(237, 237, 237);
  flex-wrap: wrap;
  gap: 106px;
}

.datos_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  font-size: 16px;
  margin: auto;
}

.datos_img {
  display: flex;
  justify-content: flex-end;
  margin: 0%;
  height: 200px;
}

.datos_logo {
  display: flex;
  justify-content: center;
  height: 100px;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}

/* main portafolio */
main {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  align-items: center;
}

.card-body {
  font-weight: 300;
}

.img_card {
  max-width: 180px;
  max-height: 270px;
}
